<!DOCTYPE html>
<html>
<head>
<h1>About</h1>
</head>

<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Login", login_path %>
  <%= link_to "Logout", logout_path %>
  <%= link_to "Signup", signup_path %>
</nav>


<body>
<h2>Our Team</h2>
<ul>
  <% @authors.each do |a| %>
    <li> <%= a %> </li>
  <% end %>
</ul>


</body>

</html>